* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   :root{
      font-size:62.5%;
    }
  .body {
    margin: 0;
    color: #212529;;
  }

  h1, h2, h3, h4, h5, h6, p, .textside{
    font-family: 'Inter', sans-serif;
    margin: 0px;
  }
  a{
    text-decoration: none;
    color: #000;
  }
 
/* ----------- Tamanhos de textos ----------- */
  .textside{
    font-size:1.6rem ;
    font-style:normal;
    text-align: left;
    font-weight: 600;
  }

  .text-header{
    font-weight: 500;
     font-size:1.6rem ;
   
 }

  p.artigo{
        color: #232323;
        font-weight: 400;
        font-size: 1.8rem ;
        text-align: left;
        line-height: 1.5667;
  }
    
 
  .text-titulo{
    font-size:2.8rem ;
    font-style:normal;
    text-align: left;
    font-weight: 700;
    text-align: justify;
  }
  .text-resume{
    font-weight: 400;
    font-size:1.6rem ;
    font-style:normal;
    text-align: left;
    color: #595959;
    text-align: justify;
    text-indent: 1.8rem;
  }

  h1.artigo{
    font-weight: 700;
    font-size:3.2rem ;
    font-style:normal;
    text-align: left;
    text-align: justify;
    padding-bottom: 2.4rem;
  }


  h2.artigo{
    font-weight: 700;
    font-size:3.2rem ;
    font-style:normal;
    text-align: justify;
    padding-bottom: 1.4rem;
  }

  p.footer{
    font-weight: 600;
    font-size: 1.6em;
    font-style:normal;
    text-align: center;
    
  }
/* --------------------------------------------------- */

  .text-artigo{
    text-align: left;
    width: 100vh;

  }

  .tag-central{
    text-indent: 0px;
    font-size:1.6rem ;
    font-style:normal;
    text-align: left;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 1.8rem 1rem;
   
  }

  .logo {
    width: 12.8rem;
    padding: 1.6rem;
  }

  .main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  .main-nav li {
    padding: 1.6vh;
  
  }

  .main-nav a {
    text-decoration: none;
    color: #333;
  }

  .main-nav a:hover {
    color:#7A46CE;
  }

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:self-start;
    padding: 0rem .0rem 0rem 4.0rem;
    gap: 3.2rem;
  }

  .cont-sidebar-org-art{
    max-width: 1000rem;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    /* background-color: #7f75a5; */
  }

  .sidebar {
    /* background-color: #7f75a5; */
    padding-top: 8rem;
    padding-left: 4rem;
    width: 24rem;
    height: 100vh;
  }


  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
  }

  .sidebar a {
    text-decoration: none;
    color: #333;
  }


  .artigo{
    flex-direction:column;
    margin-top: 2.0rem;
    align-items: flex-start;
    flex-direction: row;
    /* background-color: blue; */
    max-width: 100%;
  }


#artigo1{
  text-decoration: none;
}

.escrita-central{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 50vw;
  text-align: center;

}


.imagem{
  width: 100%;
  border: 0.6rem;
}


.tag-central{
  font-family: 'Inter', sans-serif;
  width: 4rem;
  height: 2rem;
  color: #3526E9;
}

.titulo-central{
  font-size:3.6rem ;
  font-style:normal;
  text-align: left;

}

.resumo-central{
  font-size:2.4rem ;
  font-style:normal;
  text-align: left;
  color: #595959;
  text-indent: 0px;
}


/*--------------------- Footer -------------------------*/

.footer{
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 1.2rem 1.5rem;
}

/* -------------------------------------------------------- */


/* ---------------- Mobile ------------------- */
@media only screen and (max-width: 400px) {

  .sidebar {
    display: none;
  }

  .container {
    max-width: 100%;
    justify-content: flex-start;
    gap: 3.2rem;
    padding: 1.8rem;
  }

  .artigo{
    flex-direction:column;
    margin-top: 2.0rem;
    align-items: flex-start;
    flex-direction: row;
    /* background-color: blue; */
    max-width: 100%;
  }

  h1.artigo{
    font-weight: 700;
    font-size:2.4rem ;
    font-style:normal;
    text-align: justify;
    padding-bottom: 2.4rem;
  }

  .article-central{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.8rem;
    /* background-color: blue; */
  }

   .org-art{
    display: flex;
    flex-direction:column;
    margin-top: 4.0rem;
    width: 100%;
    gap: 1.6rem;
    flex-wrap: wrap;
  }

  .escrita-central{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
  }

  .text-tag{
    color: #3526E9;
    font-weight: 500;
    font-size: 1.2rem ;
    font-style: normal;
    text-align: left;
    display: none;
  }
  .text-titulo{
    font-size: 1rem;
    font-style:normal;
    text-align: left;
    font-weight: 700;
    text-align: justify;
  }
  .text-resume{
   display:none;
  }

  .text-header{
   font-weight: 500;
    font-size:1.6rem ;
  }

  .image-central{
    width: 100%;
    border: 0.6rem;
  }

  .footer{
    margin-top: 2.4rem;
  }
  

}

/* ---------------- Fim Mobile ------------------- */


/* Exiir o rodape em algum momento


.rodape-central{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 22.63px;
  width: 419px;
  height: 1rem;
}

.escrita-rodape-central{

  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 419px;
  justify-content: space-between;
}
  .time-central{
    size: 0.5rem;
    color: #030080;
  }

  .data-central{
    height: 15px;
    color: #C0C0C0;
    size: 0.5rem;
  } */
