* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
:root{
      font-size:62.5%;
    }
.body {
    margin: 0;
    color: #212529;;
  }

h1, h2, h3, h4, h5, h6, p, a, .textside{
    font-family: 'Inter', sans-serif;
    margin: 0px;
  }

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
  }

a:hover{
    text-decoration: none;
    color: #000;
  }

  /* ----------- Tamanhos de textos ----------- */
  .textside{
    font-size:1.8rem ;
    font-style:normal;
    text-align: left;
    font-weight: 600;
  }

  .text-tag{
    color: #3526E9;
    font-weight: 500;
    font-size: 1.8rem ;
    font-style: normal;
    text-align: left;
  }
  .text-titulo{
    font-size:2.8rem ;
    font-style:normal;
    text-align: left;
    font-weight: 700;
    text-align: justify;
  }
  .text-resume{
    font-weight: 400;
    font-size:1.6rem ;
    font-style:normal;
    text-align: left;
    color: #595959;
    text-align: justify;
    text-indent: 1.8rem;
  }

.text-header{
  font-weight: 800;
  font-size: 1.6rem;
}

.sidebar {
    /* background-color: #7f75a5; */
    padding-top: 8rem;
    padding-left: 4rem;
    width: 24rem;
    height: 100vh;
  }


  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
  }

  .sidebar a{
    text-decoration: none;
    color: #333;
  }
  .sidebar a:hover{
    text-decoration: none;
    color: #7A46CE;
  }

/* -------------Header----------------- */
.header {
    /* padding-left: auto; */
    /* padding-right: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 1.8rem 1rem;
   
  }

  .logo {
    width: 12.8rem;
    padding: 1.6rem;
  }

  .main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  .main-nav li {
    padding: 1.6vh;
  
  }

  .main-nav a {
    text-decoration: none;
    color: #333;
  }

  .main-nav a:hover {
    color:#7A46CE;
  }

  /* ------------------------------------------------------- */

/* ---------- Footer ----------------- */
.footer{
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 2.5rem 1.5rem;
    max-width: 100%;
  }
  