

  .tag-central{
    text-indent: 0px;
    font-size:1.6rem ;
    font-style:normal;
    text-align: left;
  }


  .container {
    max-width: 100%;
    flex-direction:column;
    justify-content: left;
    align-items:self-start;
    padding: 0rem .0rem 0rem 4.0rem;
    gap: 3.2rem;
        /* background-color: #7f75a5; */
  }

  .cont-sidebar-org-art{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 3.2rem;
    /* background-color: #7f75a5; */
  }


  .org-art{
    display: flex;
    flex-direction:column;
    margin-top: 4.0rem;
    width: 100%;
    max-width: 80%;
  }
  
  .article-central{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 2rem; 
    gap: 16px;
    /* background-color: blue; */
    max-width: 100%;
  }

.article-central:hover{
  color: #7A46CE;
  border-radius: 0.6rem;
}

#artigo1{
  text-decoration: none;
}

.escrita-central{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 419px;
  
}


.image-central{
  width: 40rem;
  border: 0.6rem;
}


.tag-central{
  font-family: 'Inter', sans-serif;
  width: 4rem;
  height: 2rem;
  color: #3526E9;
}

.titulo-central{
  font-size:3.2rem ;
  font-style:normal;
  text-align: left;

}

.resumo-central{
  font-size:2.4rem ;
  font-style:normal;
  text-align: left;
  color: #595959;
  text-indent: 0px;
}


/* ---------------- Mobile ------------------- */
@media only screen and (max-width: 400px) {

  .sidebar {
    display: none;
  }

  .container {
    max-width: 100%;
    justify-content: flex-start;
    gap: 3.2rem;
    padding: 0px;
  }

  .article-central{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.8rem;
    /* background-color: blue; */
  }

   .org-art{
    display: flex;
    flex-direction:column;
    margin-top: 4.0rem;
    width: 100%;
    gap: 1.6rem;
    flex-wrap: wrap;
  }

  .escrita-central{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
  }

  .text-tag{
    color: #3526E9;
    font-weight: 500;
    font-size: 1.2rem ;
    font-style: normal;
    text-align: left;
    display: none;
  }
  .text-titulo{
    font-size:1.8rem ;
    font-style:normal;
    text-align: left;
    font-weight: 700;
    text-align: justify;
  }
  .text-resume{
   display:none;
  }

  .text-header{
   font-weight: 500;
    font-size:1.6rem ;
  }

  .image-central{
    width: 100%;
    border: 0.6rem;
  }

  .footer{
    margin-top: 2.4rem;
  }
  

}

