

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

  body {
    margin: 0
    color: #212529;;
  }

  h1, h2, h3, h4, h5, h6, p{
  font-family: 'Inter', sans-serif;
  margin: 0px;
  }

 

  p{
    text-align: justify;
    text-indent: 24px;
  }

  p.tag-central{
    text-indent: 0px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 1rem 1rem;
   
  }

  .logo {
    image-resolution: 88px;
  }

  .main-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  .main-nav li {
    margin-left: 16rem;
  }

  .main-nav a {
    text-decoration: none;
    color: #333;
  }

  .main-nav a:hover {
    color: #666;
  }

  .container {
    max-width: 84rem;
    display: flex;
    flex-direction: row;
    align-items:self-start;
    padding: 0px;
    gap: 32px;
    height: 607px;
  }

  .sidebar {
    text-align:left;
    background-color: #7f75a5;
    width: 80vh;
    padding-top: 40px;
    padding-left: 18;    
    width: 40rem;
    height: 607px;
  }

  .content {
    display: flex;
    background-color: aqua;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 20%;


  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
  }

  .sidebar a {
    text-decoration: none;
    color: #333;
  }

.article-central{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0px; 
  gap: 16px;
  width: 1064px;
  padding: 1rem;
}

.article-central :hover{
  background-color: #ccc7c7;
  border-radius: 0.6rem;
}

.escrita-central{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 419px;
  
}


.image-central{
  width: 400px;
  border: 0.6rem;
}


.tag-central{
  font-family: 'Inter', sans-serif;
  width: 4rem;
  height: 2rem;
  color: #3526E9;
}

.titulo-central{
  width: 419px;

}

.resumo-central{
  width: 419px;
  height: 5rem;
  color: #595959;
  text-indent: 0px;
}



.rodape-central{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 22.63px;
  width: 419px;
  height: 1rem;
}

.escrita-rodape-central{

  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 419px;
}
  .time-central{
    width: 92px;
    
    color: #030080;
  }

  .data-central{
    width: 111px;
    height: 15px;
    color: #C0C0C0;
  }